<div class="component container">
  <div class="d-flex justify-content-between mt-3">
    <h2 *ngIf="!isEdit">Create user</h2>
    <h2 *ngIf="isEdit">Update user</h2>

  </div>
  <hr>
  <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)" class="needs-validation">
    <input *ngIf="isEdit" type="hidden" id="id" firstName="id" [(ngModel)]="user!.id">
    <div class="form-group my-3">
      <label for="firstName">Firstname</label>
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="John" #firstName="ngModel"
        [(ngModel)]="user!.firstName" required minlength="2" [ngClass]="{
          'is-invalid': firstName.invalid && firstName.touched
      }">
      <div *ngIf="firstName.invalid && firstName" class="invalid-feedback">
        <div *ngIf="firstName.errors!['required']">
          Firstname is required
        </div>
        <div *ngIf="firstName.errors!['minlength']">
          Firstname must be at least 2 chars long.
        </div>
      </div>
    </div>
    <div class="form-group my-3">
      <label for="lastName">Lastname</label>
      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Doe" #lastName="ngModel"
        [(ngModel)]="user!.lastName" required minlength="3" [ngClass]="{
          'is-invalid': lastName.invalid && lastName.touched
      }">
      <div *ngIf="lastName.invalid && lastName.touched" class="invalid-feedback">
        <div *ngIf="lastName.errors!['required']">
          Lastname is required
        </div>
        <div *ngIf="lastName.errors!['minlength']">
          Lastname must be at least 3 chars long.
        </div>
      </div>
    </div>


    <div class="form-group my-3">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="your@gmail.com"
        [(ngModel)]="user!.email" required minlength="7" #email="ngModel" [ngClass]="{
          'is-invalid': email.invalid && email.touched
      }">
      <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
        <div *ngIf="email.errors!['required']">
          Email is required
        </div>
        <div *ngIf="email.errors!['minlength']">
          Email must be at least 7 chars long.
        </div>
      </div>
    </div>
    <div class="form-group my-3">
      <label for="lastName">Role</label>
      <input type="text" class="form-control" id="role" name="role" placeholder="admin" #userName="ngModel"
        [(ngModel)]="user!.role" required minlength="5" #role="ngModel" [ngClass]="{
          'is-invalid': role.invalid && role.touched
      }">
      <div *ngIf="role.invalid && role.touched" class="invalid-feedback">
        <div *ngIf="role.errors!['required']">
          Role is required
        </div>
        <div *ngIf="role.errors!['minlength']">
          Role must be at least 5 chars long.
        </div>
      </div>
    </div>
    <div class="form-group my-3">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="123pswrd!"
        [(ngModel)]="user!.password" required minlength="4" #password="ngModel" [ngClass]="{
          'is-invalid': password.invalid && password.touched
      }">
      <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
        <div *ngIf="password.errors!['required']">
          Password is required
        </div>
        <div *ngIf="password.errors!['minlength']">
          Password must be at least 4 chars long.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a class="btn btn-secondary my-2 ms-2" routerLink="../" type="cancel" (click)="cancel()">Cancel</a>
    <button class="btn btn-danger profile-button my-2 ms-2" type="delete" (click)="delete(user!.id)">Delete
    </button>
  </form>
</div>