<div class="component container">
    <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-9">
            <h3 id="aboutTitle">Over deze applicatie</h3>
            <p>
                Deze applicatie is gemaakt in het kader van het vak 'Clientside web
                frameworks' van Avans Hogeschool Breda.
            </p>
            <h1>Course It</h1>
            <p>
                Op deze applicatie kunnen studenten zich inschrijven voor cursussen.
                Deze cursussen worden aangeboden door docenten.<br>
                Studenten en docenten kunnen zich inschrijven voor een cursus. <br>
                Studenten mogen geen workshops aanmaken maar kunnen wel workshops volgen. <br>
                Docenten mogen wel workshops aanmaken en kunnen deze ook volgen. <br>
                Een admin kan alles doen, en is de enige die subjects aan kan maken, docent moeten dus naar een admin als zei een nieuwe subject willen. <br>
                Om een workshop te volgen moet deze gekocht worden met credits, deze credits kunnen worden gekocht met een voucher of betaalpas. <br>
                Een workshop kan gratis zijn, en hoeft dan dus niet gekocht te worden maar een gebruiker moet altijd inloggen om de workshop te volgen <br>
                Wanneer een workshop gekocht is blijft deze voor altijd beschikbaar.

            </p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center px-3 py-3">
                    <!-- Je mag een foto van jezelf toevoegen, maar dat is niet verplicht. -->
                    <img src="assets/images/person.png"
                        class="card-img-top rounded-circle border profile-pic px-4 py-4 placeholder-glow " alt="..." />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Niek Goossens</h5>
                    <p class="card-text">Studentnummer: 2183046</p>
                </div>
            </div>
        </div>
    </div>

    <h3>Entiteiten</h3>
    <p>

    </p>

    <img src="assets/images/erd2.drawio.png" class="px-5 py-5" alt="..." />

    <div class="row">

        <div class="col-sm-12 col-md-4">
            <h5>User</h5>
            <table class="table table-bordered">
                <thead>
                    <th>Attribute</th>
                    <th>Type</th>
                </thead>
                <tbody>
                    <tr>
                        <td>id</td>
                        <td>number</td>
                    </tr>
                    <tr>
                        <td>firstName</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>lastName</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>password</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>role</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>amountOfPayedWorkshops</td>
                        <td>number</td>
                    </tr>
                    <tr>
                        <td>FollowedWorkshopIds</td>
                        <td>number[]</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-sm-12 col-md-4">
            <h5>Workshop</h5>
            <table class="table table-bordered">
                <thead>
                    <th>Attribute</th>
                    <th>Type</th>
                </thead>
                <tbody>
                    <tr>
                        <td>id</td>
                        <td>number</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>uploadDate</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>isFree</td>
                        <td>boolean</td>
                    </tr>
                    <tr>
                        <td>requiredTools</td>
                        <td>string[]</td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>subjectId</td>
                        <td>number</td>
                    </tr>
                    <tr>
                        <td>image</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>topics</td>
                        <td>number[]</td>
                    </tr>
                    <tr>
                        <td>owner</td>
                        <td>number</td>
                    </tr>
                </tbody>

            </table>
        </div>
        
        <div class="col-sm-12 col-md-4">
            <h5>Subject</h5>
            <table class="table table-bordered">
                <thead>
                    <th>Attribute</th>
                    <th>Type</th>
                </thead>
                <tbody>
                    <tr>
                        <td>id</td>
                        <td>number</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>image</td>
                        <td>string</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-sm-12 col-md-4">
            <h5>Topic</h5>
            <table class="table table-bordered">
                <thead>
                    <th>Attribute</th>
                    <th>Type</th>
                </thead>
                <tbody>
                    <tr>
                        <td>id</td>
                        <td>number</td>
                    </tr>
                    <tr>
                        <td>title</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>content</td>
                        <td>string</td>
                    </tr>
                    <tr>
                        <td>chapters</td>
                        <td>number[]</td>
                    </tr>
                    <tr>
                        <td>type</td>
                        <td>enum</td>
                    </tr>
                </tbody>

            </table>
        </div>



    </div>

    <div class="row">
        <div class="col">
            <h3>Userstories</h3>


            <table class="table table-bordered">
                <thead>
                    <th>Nr</th>
                    <th class="col-6">Userstory</th>
                    <th>Evt toelichting</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            Als gebruiker wil ik een overzicht van workshops kunnen zien,
                            zodat ik kan zien welke workshops beschikbaar zijn.
                        </td>
                        <td>Overzicht is een grid.</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            Als ingelogde docent wil ik zelf workshops kunnen aanmaken,
                            zodat ik deze aan gebruikers aan kan bieden.
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            Als ingelogde gebruiker wil ik een workshop kunnen kopen, zodat ik deze kan volgen.
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                            Als ingelogde admin wil ik alle data kunnen veranderen, zodat ik de website kan beheren.
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            Als ingelogde docent wil ik mijn workshops kunnen aanpassen, zodat ik deze kan updaten.
                        </td>
                        <td>
                            Dit mag alleen bij workshops aangemaakt door deze docent.
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>
                            Als ingelogde gebruiker wil ik mijn profiel kunnen aanpassen, zodat ik mijn gegevens kan updaten.
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>
                            Als ingelogde gebruiker mag ik geen toegang hebben tot data die ik niet aan mag passen, en wil ik dit niet zien in de navigatiebalk.
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>