<div class="component ">
  <div class="album py-5">
    <div class="container">
      <div class="row">
        <div class="table ms-2">
          <div class="col" *ngIf="canEdit">
            <a class="btn btn-primary btn-sm float-right" href="add" role="button"
              routerLink="{{highestId+1}}/edit">New</a>
          </div>
        </div>

        <div *ngFor="let subject of subjects" class="col-md-4">
          <div class="card mb-4 box-shadow" routerLink="{{subject.id}}/workshop">
            <img class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src={{subject.image}}
              data-holder-rendered="true">
            <div class="card-body">
              <h4> {{subject.name}}</h4>
              <p class="card-text">{{subject.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a routerLink="{{subject.id}}/workshop"><button type="button"
                      class="btn btn-sm btn-outline-primary">View</button> </a>

                  <a routerLink="{{subject.id}}/edit" *ngIf="canEdit"> <button type="button"
                      class="btn btn-sm btn-outline-danger">Edit</button></a>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>