<div class="component ">
  <div class="row">
    <div class="col-12">
      <div class="table ms-2">
        <div class="col">
          <a class="btn btn-primary btn-sm float-right" href="add" role="button" *ngIf="canEdit"
            routerLink="{{highestId+1}}/add">New</a>
        </div>
      </div>
      <table class="table table-striped table-hover ">

        <thead>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>

          <th scope="col">Amount of payed for workshops</th>
        </thead>
        <tbody>
          <tr routerLink="{{ user.id }}" *ngFor="let user of users">
            <th scope="row"><a routerLink={{user}}> {{user.id}}</a>

            <td>

              {{ user.firstName }} {{ user.lastName }}
            </td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>

            <td>{{user.amountOfPayedWorkshops}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>